.c-header {
    padding: $vspace*1.5 0;
    background-color: $color-bg-light;
    border-bottom: 1px solid $color-primary;
}
.c-header__logo { width: 200px; }
.c-header__nav { width: 50%; }
.c-header__nav__list {
    display: flex;
    justify-content: space-between;
    
    li {
        position: relative;
        margin-left: $hspace/2;
        &:hover::before {
            width: 100%;
        }
    }
    li::before {
        position: absolute;
        content: '';
        left: 0;
        bottom: -3px;
        width: 0;
        height: 1px;
        background-color: $color-primary;
        transition: width .3s ease-in-out;
    }
    a {
        font-size: $font-size;
        font-weight: 700;
        line-height: $line-height-medium;
        color: $color-primary;
    }
    span { margin-right: $hspace/2; }
}
.c-header__nav__list__cart__amount {
    position: absolute;
    right: -16px;
    top: -4px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $color-bg-dark;
    background-color: red;
    color: $color-bg-light;
    font-weight: 300;
    font-size: $font-size-small;
    line-height: 16px;
    text-align: center;
}
