.c-notFound {
    flex-direction: column;
    margin-top: $vspace*3;

    h2 {
        margin-bottom: $vspace*3;
        font-size: $font-size-xxlarge;
        font-weight: 700;
        color: $color-primary;
    }

    p {
        margin-bottom: $vspace*2;
    }
    
    span {
        font-weight: 700;
    }
}

@media screen and (max-width: 760px) {
    .c-notFound {
        margin-top: $vspace*6;
    }
}