.c-notFound {
    flex-direction: column;
    margin-bottom: $vspace*4;

    h2 {
        margin-bottom: $vspace*3;
        font-size: $font-size-xlarge;
        font-weight: 700;
        color: $color-primary;
    }

    p {
        margin-bottom: $vspace*2;
        font-weight: 700;
    }
}