.c-notFound {
    flex-direction: column;

    h2 {
        margin-bottom: $vspace*3;
        font-size: $font-size-xlarge;
        font-weight: 700;
        color: $color-primary;
    }

    p {
        margin-bottom: $vspace*2;
    }
    
    span {
        font-weight: 700;
    }
}