$hspace: 20px;
$vspace: 20px;

$font-size: 16px;
$font-small: 14px;
$font-medium: 22px;
$font-large: 30px;
$font-xlarge: 42px;

$line-height: 16px;
$line-height-small: 14px;
$line-height-medium: 22px;

$color-primary: #CD8B7C;
$color-bg-light: #F9F9F9;
$color-bg-dark: #272727;
