$hspace: 20px;
$vspace: 20px;

$font-size: 16px;
$font-size-xsmall: 12px;
$font-size-small: 14px;
$font-size-medium: 22px;
$font-size-large: 30px;
$font-size-xlarge: 45px;
$font-size-xxlarge: 56px;

$line-height: 16px;
$line-height-small: 14px;
$line-height-medium: 22px;

$color-primary: #CD8B7C;
$color-bg-light: #F9F9F9;
$color-bg-dark: #272727;
