@import 'variables';

@import 'reset';
@import 'header';
@import 'footer';
@import 'heroSection';
@import 'eventSection';
@import 'services';
@import 'newsletter';

/*=========================================================*/

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat'),
        url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype'),
        url('../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype')
}

/*=========================================================*/

* { box-sizing: border-box; }

body {
font-family: 'Montserrat', Georgia, Verdana, sans-serif;
}

a { text-decoration: none; }

/*=========================================================*/

.o-wrap {
    max-width: 1100px; 
    margin: 0 auto;
}
.o-wrap--flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.u-justify-space-between { justify-content: space-between; }

.c-btn {
    background-color: $color-primary;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all .3s ease-in-out;
    &:hover {
        color: $color-primary;
        background-color: $color-bg-light;

        a { color: $color-primary; }
    }
    a{
        display: block;
        width: 100%;
        padding: $vspace $hspace*2;
        color: #fff;
    }
}
