@import 'variables';

@import 'reset';
@import 'general';
@import 'header';
@import 'footer';
@import 'breadcrumb';
@import 'contact';
@import 'heroSection';
@import 'teamSection';
@import 'contentSection';
@import 'services';
@import 'shop';
@import 'productsGrid';
@import 'productCard';
@import 'product';
@import 'newsletter';
@import 'notFound';

/*=========================================================*/

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat'),
        url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype'),
        url('../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype')
}

/*=========================================================*/
